
.bdr a{
    color: white;
    text-decoration: none;
}
.bdr:hover{
    border: 1px solid white;
    border-radius: 2px;
}
.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left !important;
  width: 100%;
}

.left span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.1;
  font-size: small;
}

.left::after {
  margin-left: auto !important;
}
.clr li a{
    color: white;
    font-size: 15px;
    font-weight: 500;
}
.navbar-toggler:hover{
border: 1px solid white;
}
.clr li:hover{
    border: 1px solid white;
}
.lstnav li{
  font-size: small;
  font-weight: 500;
 
}
.navbar{
  border-bottom: 1px solid lightgray ;
}
.lstnav li a:hover{
  color: rgb(62, 62, 237);
  border-bottom: 1px solid rgb(50, 50, 193);
}
.brd li a{
 color: grey;
 font-size: small;
 text-decoration: none;
}
.brd li a:hover{
  border-bottom: 1px solid grey;
}
.bdrr img{
  border:1px solid;
  border-radius: 8px;
  display: block;
  margin-bottom: 5px;

}
.star i{
color: orangered;
}